<template>
    <link rel="stylesheet" href="/components/review-analytics/review-analytics.css">
    <div class="review-wrapper">
        <section class="player-section">
            <div>Joueur 1</div>
            <div>Joueur 2</div>
        </section>
        <section class="action-section">
            <span class="action-section-title">Actions</span>
        </section>
        <section class="control-section">
            <img src="/assets/first-action.svg" alt="first-action-img" id="first-action-btn" class="control-btn">
            <img src="/assets/previous-action.svg" alt="previous-action-img" id="previous-action-btn"
                class="control-btn">
            <img src="/assets/play-action.svg" alt="play/pause-action-img" id="play-action-btn" class="control-btn">
            <img src="/assets/next-action.svg" alt="next-action-img" id="next-action-btn" class="control-btn">
            <img src="/assets/last-action.svg" alt="last-action-img" id="last-action-btn" class="control-btn">
        </section>

    </div>
</template>